* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    max-height: 100vh;
    background-image: url(../images/pattern-background-desktop.svg);
    background-position: center;
    background-color: hsl(225, 100%, 94%);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    height: 600px;
    width: 400px;
    margin: 30px auto;
    margin-top: 150px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

.container img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.container h1 {
    color: hsl(223, 47%, 23%);
    margin: 20px auto;
}

.container p, .container span {
    font-size: 16px;
    margin: 20px 50px;
    color: hsl(224, 23%, 55%);
}

.indent {
    margin: 0 40px;
}

.plan {
    background-color: hsl(225, 100%, 98%);
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 70%;
    align-items: center;
    padding: 15px 20px;
    box-sizing: border-box; 
    border-radius: 10px;
}

.plan img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-left: 10px;
    margin-right: -5    0px;
}


.plan-price {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.plan-price h4 {
    color: black;
    margin-top: 5px;
    margin-bottom: -15px;
}

.plan-price h5 {
    color: hsl(224, 23%, 55%);
}

.plan-link {
    margin-left: 30px;
}

.btns {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.payment, .cancel {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.payment {
    background-color: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 98%);
    font-weight: 900;
    transition: 0.4s;
    box-shadow: 0 9px 40px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}


.payment:hover {
    background-color: hsl(223, 47%, 23%);
}

.cancel {
    background-color: transparent;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    transition: 0.4s;
}

.cancel:hover {
    color: black;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}